body{
    background-color: black;
}
#listy{
    border-collapse: collapse;
}

#listy thead tr{
    background-color: rgb(12, 160, 106);
    color: aliceblue;

}
#listy tr{
    background-color: aliceblue;
    text-align: center;
}
#listy tbody tr td:nth-child(1){
    color:red;
}git config --global user.name "Your Name"
git config --global user.email "your@email.com"